/* ///////////////////////// */


/*      　トップ画面          */


/* ///////////////////////// */

img{
    object-fit: cover;
}

.tumi_plus,
.goal_plus{
    font-size: 5rem;
    position: fixed;
    bottom: 10%;
    right: 3%;
}

.tumi_plus:hover,
.goal_plus:hover{
    opacity: 0.8;
}

.tumi_add{
    width: 70%;
    height: auto;
    background-color: #e2f3e6;
    top: 2%;
    left: 14.5%;
    position: absolute;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
}

.tumi_add_close{
    z-index: 15;
    font-size: 6rem;
    position: absolute;
    top: 3%;
    right: 2%;
}

.tumi_add_close:hover{
    opacity: 0.8;
}

.tumi{
    background-color:#fff;
    border: solid #ccc 1px;
    border-radius: 8px;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
    vertical-align: top;
}

.tumi:hover{
    opacity: 0.8;
}

.tumi .tumi_text
{
    height: 6rem;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 0.5rem;
    white-space: pre-line;
}

.tumi .tumi_text p
{
    margin-bottom:0;
}

.tumi .tumi_image img{
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 43%;
    display: table;
}

.tumi_tittle{
    border-bottom: solid 3px #a3d3a6;
    position: relative;
    margin-left: 5%;
    margin-bottom: 2%;
}

.tumi_tittle:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #307e48;
    bottom: -3px;
    width: 20%;
}

.tumi_submit{
    font-size: 1.5rem;
}

.footer {
    background-color:#246d34;
}

/* .page_title{
    margin-top: 2rem;
} */

.page_title {
    position: relative;
    color: #333;
    display: inline-block;
    margin: 47px 39%;
    text-shadow: 0 0 2px white;
    font-size: 37px;
    margin-bottom: 4rem;
  }
  .page_title:before {
    content: "";
    position: absolute;
    background: #83df93;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
  }

  /* .page_title {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
  }
  .page_title:before {
    content: "";
    position: absolute;
    background: #9de5ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    margin: 0 43%;
  } */

.goal_text{
    white-space: pre-line;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    height: 65%;
}

.goal_tittle{
    font-size: 1.7rem;
    font-weight: bold;
}

.serach.tumi_tittle{
    font-size: 2rem;
}

.image_label{
    vertical-align: top;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 2rem;
}

.image_label:hover{
    opacity: 0.8;
}

/* ///////////////////////// */


/*      　積み上げ画面        */


/* ///////////////////////// */

.tumi_detail{
    display: none;
}

.tumi_detail_close{
    z-index: 15;
    font-size: 6rem;
    position: fixed;
    left: 91%;
    top: 2%;
}

.tumi_detail{
    width: 70%;
    height: auto;
    background-color: #e2f3e6;
    top: 5%;
    left: 15%;
    position: absolute;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
}

#preview-field{
    display: inline-block;
    vertical-align: top;
    width: 104%;
    height: 66%;
    word-wrap: break-word;
    white-space: pre-line;
    border: 1px solid #c9c9c9;;
    background-color: #fff;
    overflow:scroll;
    overflow-x: hidden;
    padding: 0.375rem 0.75rem;
}

.tumi_detail_edit{
    height: auto;
}

.tumi_text_add{
    width: 100%;
    height: 18rem!important;
    border-radius: 0;
    resize: none;
}

#edit_tumi_text{
    width: 100%; 
    height: 24rem;
    border-radius: unset;
    resize: none;
}

.tumi .tumi_image.goal_image img{
    border-radius: 8px 0 0 8px;
}

.fa-regular.fa-circle-xmark.tumi_detail_close:hover{
    opacity: 0.8;
}

.tumi_text_detail{
    white-space: pre-line;
    background-color: #fff;
    border: solid 1px #d2d2d2;
    margin-bottom: 1rem;
}

.tumi_date{
    font-size: 1.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5rem;
}

.tumi_editbtn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.5rem
}

/* 
#preview-field::-webkit-scrollbar{
    display:none;
  } */