/* ///////////////////////// */


/*      　トップ画面          */


/* ///////////////////////// */

img{
    object-fit: cover;
}

.tumi_plus,
.goal_plus,
.tumi_plus_tutorial{
    font-size: 5rem;
    position: fixed;
    bottom: 10%;
    right: 3%;
}

.tumi_plus:hover,
.goal_plus:hover,
.tumi_plus_tutorial:hover{
    opacity: 0.8;
}

.tumi_add,
.tumi_tutorial{
    width: 70%;
    height: auto;
    background-color: #e2f3e6;
    top: 2%;
    left: 14.5%;
    position: absolute;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
}

.tumi_add_close:hover{
    opacity: 0.8;
}

.tumi_delete,
.goal_delete{
    width: 36%;
    height: auto;
    background-color: #e2f3e6;
    top: 13%;
    left: 31.5%;
    position: absolute;
    border-radius: 1rem;
    padding: 2rem;
    z-index: 10;
    padding-left: 3rem;
    padding-bottom: 1rem;
    display: none;
}

.goal_delete{
    width: 85%;
    top: 14%;
    left: 5%;
}

.goal_detail{
    position: absolute;
    margin-left: 53rem;
    margin-top: -2.5rem;
    padding: 0.5rem;
}

.tumi{
    background-color:#fff;
    border: solid #ccc 1px;
    border-radius: 8px;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 20%);
    vertical-align: top;
}

.goal_delete .tumi{
    display: flex;
    width: 62rem;
    height: 13rem;
}

.tumi:hover{
    opacity: 0.8;
}

.tumi .tumi_text
{
    height: 6rem;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 0.5rem;
    white-space: pre-line;
}

.tumi .tumi_text p
{
    margin-bottom:0;
}

.tumi .tumi_image img{
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 43%;
    display: table;
}

.tumi_tittle{
    border-bottom: solid 3px #a3d3a6;
    position: relative;
    margin-left: 5%;
    margin-bottom: 2%;
}

.tumi_tittle:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #307e48;
    bottom: -3px;
    width: 20%;
}

.tumi_submit,
.tumi_submit_tutorial{
    font-size: 1.5rem;
}

#edit_tumi_text textarea.form-control{
    height: 18rem;
}

.footer {
    background-color:#246d34;
}

/* .page_title{
    margin-top: 2rem;
} */

.page_title {
    position: relative;
    color: #333;
    display: inline-block;
    margin: 47px 39%;
    text-shadow: 0 0 2px white;
    font-size: 37px;
    margin-bottom: 4rem;
  }
  .page_title:before {
    content: "";
    position: absolute;
    background: #83df93;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
  }

  /* .page_title {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
  }
  .page_title:before {
    content: "";
    position: absolute;
    background: #9de5ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    margin: 0 43%;
  } */

  body {
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar{
    display: none;
  }

.goal_text{
    white-space: pre-line;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    height: 65%;
}

.goal_tittle{
    font-size: 1.7rem;
    font-weight: bold;
}

.serach.tumi_tittle{
    font-size: 2rem;
}

.image_label{
    vertical-align: top;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 2rem;
}

.image_label:hover{
    opacity: 0.8;
}

/* ///////////////////////// */


/*      　積み上げ画面        */


/* ///////////////////////// */

.tumi_detail{
    display: none;
}

.tumi_detail_close,
.tumi_add_close{
    z-index: 15;
    font-size: 6rem;
    position: fixed;
    left: 91%;
    top: 2%;
}

.tumi_detail{
    width: 70%;
    height: auto;
    background-color: #e2f3e6;
    top: 5%;
    left: 15%;
    position: absolute;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
}

#preview-field{
    display: inline-block;
    vertical-align: top;
    width: 104%;
    height: 66%;
    word-wrap: break-word;
    white-space: pre-line;
    border: 1px solid #c9c9c9;;
    background-color: #fff;
    overflow:scroll;
    overflow-x: hidden;
    padding: 0.375rem 0.75rem;
}

#preview-field p{
    margin: 0;
}

.tumi_detail_edit{
    height: auto;
}

.tumi_text_add{
    width: 100%;
    height: 18rem;
    border-radius: 0;
    resize: none;
}

#edit_tumi_text{
    width: 100%; 
    height: 24rem;
    border-radius: unset;
    resize: none;
}

.tumi .tumi_image.goal_image img{
    border-radius: 8px 0 0 8px;
}

.tumi.goal_delete_detail .tumi_image.goal_image img{
    height: 100%!important;
}

.fa-regular.fa-circle-xmark.tumi_detail_close:hover{
    opacity: 0.8;
}

.tumi_text_detail{
    white-space: pre-line;
    background-color: #fff;
    border: solid 1px #d2d2d2;
    margin-bottom: 1rem;
}

.tumi_date{
    font-size: 1.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5rem;
}

.tumi_editbtn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.5rem
}

.tumi_message,
.goal_message {
    padding: 0.5em 1em;
    background: linear-gradient(to right, #07ff2b, #51b25b);
    color: #FFF;
    position: fixed;
    left: 4%;
    bottom: 10%;
    transition: 1s;
    font-size: 1.25rem;
    border-radius: 8px;
    z-index: 15;
    display: none;
}

.tumi_delete_btn{
    margin-top: -1rem;
    margin-right: 0.6rem;
    font-size: 1.2rem;
}

/* 
#preview-field::-webkit-scrollbar{
    display:none;
  } */

/* ///////////////////////// */


/*         ヘルプ画面         */


/* ///////////////////////// */

.pointer{
    font-size: 4rem;
    z-index: 20;
    position: fixed;
    bottom: 6%;
    right: 2%;
    color: #000;
}

.help_message.tumiage {
    top: 77%;
    left: 69%;
}

.help_message2.tumiage {
    left: 50%;
}

.help_message3.tumiage {
    top: 66%;
}
/* .goal_plus{
    font-size: 5rem;
    position: fixed;
    bottom: 10%;
    right: 3%;
} */
/* 
.pointer{
    display: none;
    font-size:3rem;
    z-index: 20;
    top: 40%;
    left: 30%;
    position:absolute;
    color: #000!important;
} */

.ripples{
        /*波紋の基点とするためrelativeを指定*/
  position: relative;
background:#333;
border-radius: 50%;
color:#ccc;
  outline: none;
  /*アニメーションの設定*/
  transition: all .3s;
}

.ripples::after,
.ripples::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 1px solid #333;
    width: 150%;
    height: 150%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation:3s circleanime linear infinite;
    z-index: 10;
}

.ripples::before {
    animation-delay:1s; 
}

@keyframes circleanime{
  /* 0%{
    transform: scale(0.68);
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  } */
  0%{
    transform: scale(0.68);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}